# Prerequisites
#*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
pistop.spec
pistop.changes
debian/changelog
debian/control
debian/copyright
RCS
autom4te.cache
m4
misc
*.BAK
debian/pistop.tmp
build-stamp
debian/pistop
Makefile
Makefile.in
aclocal.m4
compile
configure
depcomp
install-sh
missing
create_service
.deps
config.h
config.log
config.status
stamp-h1
debian/debian.tar.gz
debian/pistop.dsc
debian/pistop.install
debian/rules
debian/prerm
debian/preinst
debian/postinst
backup
pistop-release
PKGBUILD
pistopclient
pistopserver
pistopstart
config.h.in
client.in
pistopserver.1
